.search-container {
    height: 119px;
    display: flex;    
    align-items: center;
    justify-content: center;
    margin-left: 555px;
}

.search-box {    
    width: 361px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: white;
    border-radius: 10px;
}

.search-box-text {
    direction: rtl;
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 600;
}

::placeholder {
    color: #D6BCFA;
}

.search {
    margin: 15px;
    cursor: pointer;
}

.filter-box {
    width: 50px;
    height: 50px;
    border: transparent;
    border-radius: 10px;
    background-color: #D6BCFA;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    cursor: pointer;
}

.filter-window {
    position: absolute;
    width: 170px;
    height: 100px;
    background: #D6BCFA;
    border: 4px solid white;
    border-radius: 10px;

    font-weight: 600;
}

.filter-categories-caption {
    height: 20px;
    background-color: #D6BCFA;
    border: 4px solid white;
    border-radius: 10px;
    margin-top: -5px;

    font-size: 12px;
}

.use-filter {
    background: #833AE0;
    width: 105px;
    height: 25px;
    border-radius: 5px;
    border: none;
    margin-left: 35px;

    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    color: white;
    cursor: pointer;
}

.use-filter:hover {
    background: #B794F4;
    border: 3px solid white;
    
    color: black;
}

.filter-window p {
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
    color: black;
    cursor: pointer;
}